[submodule "shortcut-sync"]
	path = shortcut-sync
	url = git@github.com:zzzdeb/shortcut-sync.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "ranger/ranger_devicons"]
	path = ranger/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "st"]
	path = st
	url = https://github.com/zzzdeb/st
[submodule "pkgs/xurls"]
	path = pkgs/xurls
	url = https://github.com/mvdan/xurls
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "meta/dotbot_plugins/aptget"]
	path = dotbot_plugins/aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget
[submodule "meta/dotbot_plugins/pip"]
	path = dotbot_plugins/pip
	url = https://github.com/sobolevn/dotbot-pip
[submodule "meta/dotbot_plugins/env"]
	path = dotbot_plugins/env
	url = https://github.com/qobilidop/dotbot-env
[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "qutebrowser/nord-qutebrowser"]
	path = qutebrowser/nord-qutebrowser
	url = https://github.com/Linuus/nord-qutebrowser
