__pycache__

./tmp
config/qutebrowser/autoconfig.yml
config/qutebrowser/quickmarks
config/qutebrowser/bookmarks
config/qutebrowser/shortcuts.py
config/qutebrowser/qsettings/QtProject.conf

config/dirs.csv
config/files.csv
config/vifm/viminfo

config/nvim/dirs
Session.vim
config/nvim/tags
config/nvim/session

config/gtk-2.0/gtkfilechooser.ini
tags
config/gtk-3.0/bookmarks

local/share/applications/anki.desktop
local/share/applications/variety.desktop
local/share/applications/wine
local/share/applications/wine-extension-*
local/share/qutebrowser/greasemonkey/requires/


