__pycache__

./tmp
config/qutebrowser/autoconfig.yml
config/qutebrowser/quickmarks
config/qutebrowser/bookmarks
config/qutebrowser/shortcuts.py
config/qutebrowser/qsettings/QtProject.conf

config/vifm/viminfo

config/nvim/dirs
Session.vim
config/nvim/tags
config/nvim/session
config/nvim/.netrwhist

config/gtk-2.0/gtkfilechooser.ini
tags
config/gtk-3.0/bookmarks
