[submodule "config/ranger/ranger_devicons"]
	path = config/ranger/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "st"]
	path = st
	url = https://github.com/zzzdeb/st
[submodule "pkgs/xurls"]
	path = pkgs/xurls
	url = https://github.com/mvdan/xurls
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "meta/dotbot_plugins/aptget"]
	path = meta/dotbot_plugins/aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget
[submodule "meta/dotbot_plugins/pip"]
	path = meta/dotbot_plugins/pip
	url = https://github.com/sobolevn/dotbot-pip
[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "qutebrowser/nord-qutebrowser"]
	path = qutebrowser/nord-qutebrowser
	url = https://github.com/Linuus/nord-qutebrowser
[submodule "config/qutebrowser/themes/dracula"]
	path = config/qutebrowser/themes/dracula
	url = https://github.com/evannagle/qutebrowser-dracula-theme
[submodule "config/qutebrowser/themes/nord-qutebrowser"]
	path = config/qutebrowser/themes/nord-qutebrowser
	url = https://github.com/Linuus/nord-qutebrowser
[submodule "scripts/i3cmds/i3-layout-manager"]
	path = scripts/i3-layout-manager
	url = https://github.com/klaxalk/i3-layout-manager
[submodule "config/qutebrowser/themes/base16-qutebrowser"]
	path = config/qutebrowser/themes/base16-qutebrowser
	url = https://github.com/theova/base16-qutebrowser
[submodule "submodules/st"]
	path = submodules/st
	url = https://github.com/zzzdeb/st
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf
